@tailwind base;
@tailwind components;
@tailwind utilities;

.each-slate{
  height: 300px;
  /* background-color: red; */
  margin-top: 3em;
  display: flex;
  overflow: hidden;
}
.hero h3{
  font-family: "Montserrat",serif;
  font-size: 4em;
}
.each-slate > div{
  flex: 1;
}
.each-slate h2{
  flex: 1;
  font-family: "Montserrat",serif;
  color: #0275d8;
  font-size: 1.5em;
  line-height: 1em;
}
.each-slate p{
  font-family: "Source Sans Pro";
}
.each-slate > div:nth-child(odd) {
  /* order:2; */
  /* background-color: red; */
}
.each-slate button{
  background-color: rgb(181, 206, 181);
  padding: .5em 2em;
  border-radius: 1em;
  font-family: "Montserrat";
  color: #333;
}

.modal-container{
  /* width: 100vh; */
  /* height: 100vh; */
  background-color: rgba(136, 136, 136, 0.639);
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  right:0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-body{
  background-color: white;
  width: 70%;
  min-height: 400px;
  padding: 2em;
}
.modal-body{
  font-family: "Source Sans Pro";
}
.modal-body h2{
  font-size: 2em;
  font-family: "Montserrat",serif;
  line-height: 1em;
  text-align: center;
  margin-bottom: .5em;
}
.modal-body h3{
  font-family: "Source Sans Pro";
  font-size: 1.4em;
}